<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} — Theses</title>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/Open+Sans:300,300i,400,400i,600,600i/Crimson:400,400i,600,600i">
        <link rel="stylesheet" type="text/css" href="/assets/admin.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="site">
            <header id="main-head">
                <nav id="main-nav">
                    {{ knp_menu_render('main', {template: 'menu/main_menu.html.twig'}, 'twig') }}
                </nav>
            </header>

            <section class="secondary-nav">
                {% block secondary_nav %}
                {% endblock %}
            </section>

            <main id="main-content">
                {% block content %}
                {% endblock %}
            </main>
        </div>

        <script type="text/javascript" src="/assets/admin.js"></script>

        {% block body_end %}{% endblock %}
    </body>
</html>
