
// Grid system
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

body {
    font-family: @font-sans;
}

* {
    box-sizing: border-box;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    &:after {
        content: "";
        clear: both;
    }
}

a {
    color: @color-secondary;
    text-decoration: none;
    border-bottom: 1px solid fade(black, 10%);

    &:hover {
        border-bottom: 1px solid;
    }

    &:active {
        position: relative;
        top: 1px;
    }

    &.delete {
        color: @color-destruct;
    }
}

#site {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#main-head {
    background: #302a2a;
}

#main-content {
    height: 100%;
    flex: 1;
    background: #f5f5f5;
}

#main-nav {
    > ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .user {
        img.user-avatar {
            width: 3em;
            border-radius: 9999px;
        }
    }

    li {
        text-align: center;

        &.current a {
            color: @color-menu-active;

            &:hover {
                color: lighten(@color-menu-active, 5%);
            }
        }

        a {
            display: block;
            padding: 0.8em 1.2em;
            transition: 0.2s color;
            color: fade(white, 60%);
            text-decoration: none;
            border: none;

            &:hover {
                color: fade(white, 80%);
                transition: 0.2s color;
            }
        }

        .menu-icon {
            font-size: 2em;
            display: block;
        }

        .menu-label {
            margin: 0.5em 0 0;
            display: block;
            font-size: 0.7em;
            font-weight: 300;
        }
    }
}

.secondary-nav {
    background: lighten(black, 20%);
    overflow-y: auto;

    > nav {
        min-width: 200px;
        padding-top: 2.33em;

        a, span {
            display: block;
            padding: 0.5em 1em;
            border: none;
        }

        span {
            color: fade(white, 40%);
        }

        a {
            color: fade(white, 80%);
        }

        > ul > li {
            > span, > a {
                display: block;
                margin: 0 0 0.5em;
                font-size: 1em;
                border-bottom: 1px solid fade(white, 10%);
                font-weight: 300;
                color: fade(white, 50%);

                &:hover {
                    background: transparent !important;
                }
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 1em;

            li > a, li > span {
                display: block;

                &:hover {
                    background: fade(black, 10%);
                }
            }

            li.current a {
                background: fade(black, 20%);
                background: fade(@color-primary, 80%);
            }
        }
    }
}

#quick-post {
    nav {
        > ul {
            display: inline-block;
            list-style: none;
            padding: 0;

            > li {
                display: inline-block;
                margin: 0 0 0 1em;
            }
        }

        a {
            i.fa {
                display: inline-block;
                color: fade(black, 50%);
                margin: 0 0.3em 0 0;
            }

            color: black;
        }

        .active a {
            color: @color-menu-active;
        }
    }
}
