{% block head %}
<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
{% endblock %}

<main class="editor-main">
    {% if app.session.flashBag.has('error') %}
    <div class="errors">
        <h1>Errors</h1>
        <ul>
            {% for msg in app.session.flashBag.get('error') %}
            <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="title">
        <label for="post-title">Title</label>
        <textarea required id="post-title" rows=1 cols=80 name="post[title]" placeholder="One weird trick …">{{ post.title }}</textarea>
    </div>

    <textarea required name="post[content]" id="post-content" rows="10" cols="90">{% if post.content is defined %}{{ post.content }}{% endif %}</textarea>

    <script>
        (function() {
         var title = document.getElementById('post-title');
         title.addEventListener('keydown', autosize);

         function autosize() {
             var el = this;
             setTimeout(function(){
                 el.style.cssText = 'height:0; padding:0';
                 el.style.cssText = 'height:' + el.scrollHeight + 'px';
             }, 0);
         }
         autosize.call(title);

         var editor = new Editor({element: document.getElementById('post-content')});
         editor.render();
         })();
     </script>
</main>

<aside class="editor-sidebar">
    <div class="editor-sidebar-section">
        <a href="{{ path('posts') }}">&larr; Back to posts</a>
    </div>
    {% if post.lastModified is defined %}
    <div class="editor-sidebar-section">
        <span class="meta">Last updated {{ post.lastModified | date('M d Y \\a\\t H:i') }}</span>
    </div>
    {% endif %}
    <div class="editor-sidebar-section">
        <div class="toolbar stretch-childs">
            <button name="save" type="submit" class="btn btn-primary">Save Post</button>
        </div>
    </div>
    <div class="editor-sidebar-section">
        <div class="switch-row">
            <div class="switch-row-label">
                <label for="published">
                    Published
                </label>
                <small>
                    {% if post.publishedAt %}
                    (since {{ post.publishedAt|date('M d Y') }})
                    {% endif %}
                </small>
            </div>
            <div class="switch-row-switch">
                <input type="hidden" name="post[published]" value="0">
                <fieldset id="published-switch" class="switch" tabindex=0>
                    <input type="checkbox" id="published" name="post[published]" {{ post.publishedAt is not empty ? "checked" : "" }} value="1">
                    <label for="published"></label>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="editor-sidebar-section">
        {% if post.publishedAt is not empty %}
        <a href="{{ post.url }}" target="_blank">Permalink</a>
        {% endif %}
        {% if post.id is not empty %}
        <a href="{{ path('posts_delete', {id: post.id}) }}" class="delete">Delete this post</a>
        {% endif %}
    </div>

    <h1 class="editor-sidebar-heading">Custom Properties</h1>
    <div class="editor-sidebar-section">
        <div class="custom-properties">
        </div>
    </div>
</aside>
