<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} — Theses</title>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/Open+Sans:300,300i,400,400i,600,600i/Crimson:400,400i,600,600i">
        <link rel="stylesheet" type="text/css" href="/assets/admin.css" />

        {% block head %}
        {% endblock %}
    </head>
    <body class="post-editor-layout">
        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="/assets/admin.js"></script>

        <script>
            React.renderComponent(theses.CustomPropertyList({properties: {{ post.custom|json_encode|raw }} }), $(".custom-properties")[0]);
            key.filter = function() { return true }
            key('command+s, ctrl+s', function() {
                $("button[name=save]").click()
                return false
            })
        </script>

        {% if post.id %}
        <script type="text/javascript">
            $(function() {
                $("#published").change(function(e) {
                    var form = $(e.currentTarget).prop('form');

                    setTimeout(function() {
                        form.submit();
                    }, 200);
                });
            });
        </script>
        {% endif %}

        {% block body_end %}
        {% endblock %}
    </body>
</html>
