form {
    div {
        label {
            display: block;
            margin: 0 0 0.5em;
        }

        margin: 0 0 1em;
    }

    input[type=text],
    input[type=password],
    input[type=email],
    textarea {
        padding: 0.4em;
        background: white;
        border: 1px solid lighten(black, 90%);
        width: 100%;
    }

    input[type=radio] + label {
        display: inline;
        margin: 0 1em 0 0.5em;
    }
}
