.toolbar {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -20px;
    //background: fade(black, 5%);
    //padding: 0.5em;

    &.toolbar-light {
        background: none;

        .toolbar-btn {
            color: white;
            border-color: white;

            .toolbar-btn-icon {
                > .fa {
                    color: white;
                }
            }
        }
    }

    &.stretch-childs {
        align-items: stretch;
        > * { flex: 1 0 100px; }
    }

    > * {
        //align-self: stretch;
        margin: 0 0 10px 0;
    }

    .btn + .btn {
        margin-left: 20px;
    }

    .toolbar-btn {
        border: none;
        color: @color-secondary;

        .toolbar-btn-icon {
            font-size: 1em;
            margin-right: 0.2em;
            font-size: 1.2em;
            line-height: 1;

            > .fa {
                color: @color-secondary;
                line-height: 1;
            }
        }
    }

    .toolbar-spacer {
        flex: 1;
    }
}
